services:
  django:
    build:
      context: .
      dockerfile: ./Django_Dockerfile
    restart: always
    command: python webserver/manage.py runserver 0.0.0.0:8000
    container_name: sumsaar_django
    volumes:
    - ../sumsaar:/app
    ports:
    - "8000:8000"
    depends_on:
      - django-migrate

  django-migrate:
    build:
      context: .
      dockerfile: ./Django_Dockerfile
    command: >
      sh -c "python webserver/manage.py makemigrations chitrapat &&
             python webserver/manage.py migrate"
    volumes:
    - ../sumsaar:/app
    depends_on:
      postgres:
        condition: service_healthy

  celery-worker:
    build:
      context: .
      dockerfile: ./Celery_Dockerfile
    command: celery -A webserver worker -l info
    volumes:
      - ../sumsaar:/app
    depends_on:
      - django
      - redis

  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 10s
      retries: 5
      start_period: 5s
    restart: always

  redis:
    image: redis:7.2-bookworm
    ports:
      - '6378:6379'
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 30s
      retries: 50
      start_period: 30s
    restart: always

volumes:
  postgres-data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./postgres-data
